.icon-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 5px 5px;
  border-radius: 3px;
  margin: 4px 2px;
}

.icon-button.active {
  background-color: var(--active-style-button-bg-color);
}

.icon-button.active:hover {
  background-color: var(--active-style-button-bg-color);
}

.icon-button:hover {
  background-color: var(--hovered-button-bg-color);
}

.icon-button svg {
  fill: var(--text-color);
  width: 14px;
  height: 14px;
  cursor: pointer;
}
