.App .tabs .tab-container .tab {
  height: 35px;
  flex: 1 1 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0.2rem 0 0;
  border-radius: 4px 4px 0 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.4rem 0.3rem 1rem;
  color: var(--text-color);
  cursor: pointer;
  min-width: 20px;
  transition: background-color 0.2s ease;
  user-select: none;
}

@media (max-width: 768px) {
  .App .tabs .tab-container .tab {
    min-width: 100px;
    height: 30px;
  }
}

.App .tabs .tab-container .tab .editable-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: small;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}

.App .tabs .tab-container .tab .editable-title:not(.synced)::after {
  content: "●";
  display: inline-block;
  margin-left: 0.2rem;
}

.App .tabs .tab-container .tab .close {
  border: none;
  background-color: transparent;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 0;
  user-select: none;
  padding: 3px;
  border-radius: 4px;
}

.App .tabs .tab-container .tab .close:hover {
  background-color: var(--hovered-button-bg-color);
}

.App .tabs .tab-container .tab .close svg {
  fill: var(--text-color);
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.App .tabs .tab-container .tab.active {
  background-color: var(--active-tab-bg-color);
}

.App .tabs .tab-container .tab.active .close {
  opacity: 1;
}

.App .tabs .tab-container .tab:hover {
  background-color: var(--hovered-tab-bg-color);
}

.App .tabs .tab-container .tab:hover .close {
  opacity: 1;
}

.App .tabs .tab-container .tab.active:hover {
  background-color: var(--active-tab-bg-color);
}

.tab-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--context-menu-bg-color);
  z-index: 999;
}

.tab-actions button {
  border: none;
  background: none;
  padding: 0.2rem;
  cursor: pointer;
  text-align: left;
}

.tab-actions button:hover {
  color: var(--hovered-button-bg-color);
}

.App .tabs .tab-container .tab .editable-title.editing:after {
  content: "|";
  top: 0;
  color: #ffffff;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
