.context-menu {
  background-color: var(--context-menu-bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;

  /* Avoid layout interference */
  width: max-content;
  top: 0;
  left: 0;
  transition: width 0.2s ease, height 0.2s ease;
}

.context-menu .button-area {
  display: flex;
}

.context-menu .editing-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.context-menu .editing-area textarea {
  width: 300px;
  height: 200px;
  resize: none;
  border: none;
  background-color: var(--context-menu-bg-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.context-menu button {
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 8px 1rem;
}

.context-menu button:hover {
  background-color: var(--hovered-button-bg-color);
}

.context-menu button svg {
  height: 16px;
}

.context-menu button.active:not(:last-child) {
  background-color: rgba(179, 179, 179, 0.8);
}

.context-menu button.edit-button.active {
  background-color: var(--active-grid-button-bg-color);
}
