.note-list {
  list-style-type: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--text-color);
  cursor: pointer;
}

.note-item:hover {
  background-color: #171616;
  border-radius: 5px;
}

.note-item-content {
  display: flex;
  flex-direction: column;
}

.note-icon {
  margin-right: 10px;
  color: var(--text-color);
}

.note-title {
  font-size: 16px;
  color: var(--text-color);
}

.note-date {
  font-size: 12px;
  color: var(--low-contrast-text-color);
}

.note-actions {
  display: flex;
}

.note-action-btn {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.note-action-btn:hover {
  color: #ffffff;
}
