.ServerSelect {
  background-color: var(--context-menu-bg-color);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  z-index: 999;
  width: 400px;
}

.ServerSelect h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.server-button {
  cursor: pointer;
  margin: 0 1rem;
  min-width: 150px;
  border: none;
  background: transparent;
}

.server-button:hover {
  color: rgba(255, 255, 255, 1);
}

.ServerSelect .server-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.ServerSelect .server-list .server {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: none;
  border: none;
  text-align: left;
}

.ServerSelect .server-list .server:hover {
  background-color: var(--active-hovered-style-button-bg-color);
}

.ServerSelect .server-list .server:disabled {
  color: white;
  font-weight: bold;
}

.ServerSelect .server-list .server.active {
  background-color: var(--active-grid-button-bg-color);
}

.ServerSelect .server-list .server .server-name {
  display: block;
}

.ServerSelect .server-list .server .server-info {
  margin-top: 0.3rem;
  display: block;
  font-size: 0.6rem;
  text-decoration: none;
}

.ServerSelect .server-list .server .server-info a {
  text-decoration: none;
}

.ServerSelect .server-list .server .server-info a:hover {
  color: var(--link-color);
}

.ServerSelect .server-list .server .server-edit {
  height: 16px;
  width: 16px;
  opacity: 0.7;
}

.ServerSelect .server-list .server .server-edit:hover {
  opacity: 1;
}

.ServerSelect .server-edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.ServerSelect .server-edit-form input {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  background-color: var(--grid-button-bg-color);
  border: none;
}
