.ServerSelect {
  background-color: var(--context-menu-bg-color);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  z-index: 999;
  width: 400px;
}

.ServerSelect h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.server-button {
  cursor: pointer;
  margin: 0 1rem;
  min-width: 150px;
  border: none;
  background: transparent;
}

.server-button:hover {
  color: rgba(255, 255, 255, 1);
}

.ServerSelect .server-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.ServerSelect .server-list .server {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: none;
  border: none;
}

.ServerSelect .server-list .server:hover {
  color: var(--hovered-grid-button-bg-color);
}

.ServerSelect .server-list .server:disabled {
  color: white;
  font-weight: bold;
}

.ServerSelect .server-list .server.active {
  background-color: var(--active-grid-button-bg-color);
}
