.ServerSelect {
  background-color: var(--context-menu-bg-color);
  padding: 1rem;
  border-radius: 4px;
  z-index: 999;
}

.server-button {
  cursor: pointer;
  margin: 0 1rem;
  min-width: 150px;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.server-button:hover {
  color: rgba(255, 255, 255, 1);
}

.ServerSelect .server-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ServerSelect .server-list .server {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--toolbar-bg-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
}

.ServerSelect .server-list .server:hover {
  background-color: gray;
}

.ServerSelect .server-list .server.active {
  background-color: palevioletred;
}
