.App .tabs .tab-container .tab {
  height: 22px;
  flex: 1 1 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0.2rem 0 0;
  border-radius: 4px 4px 0 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.4rem 0.3rem 1rem;
  color: var(--text-color);
  cursor: pointer;
  min-width: 20px;
  transition: background-color 0.2s ease;
  user-select: none;
}

@media (max-width: 768px) {
  .App .tabs .tab-container .tab {
    min-width: 100px;
    height: 30px;
  }
}

.App .tabs .tab-container .tab .editable-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  border: none;
  box-shadow: none;
  font-weight: 600;
  font-style: italic;
  background: none;
}

.App .tabs .tab-container .tab .editable-title.synced {
  font-style: normal;
}

.App .tabs .tab-container .tab .close {
  border: none;
  background-color: transparent;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 0;
  user-select: none;
  padding: 3px;
  border-radius: 4px;
}

.App .tabs .tab-container .tab .close:hover {
  background-color: var(--hovered-button-bg-color);
}

.App .tabs .tab-container .tab .close svg {
  fill: var(--text-color);
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.App .tabs .tab-container .tab.active {
  background-color: var(--active-tab-bg-color);
}

.App .tabs .tab-container .tab.active .close {
  opacity: 1;
}

.App .tabs .tab-container .tab:hover {
  background-color: var(--hovered-tab-bg-color);
}

.App .tabs .tab-container .tab:hover .close {
  opacity: 1;
}

.App .tabs .tab-container .tab.active:hover {
  background-color: var(--active-tab-bg-color);
}
