.App .menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--toolbar-bg-color);
}

.App .menubar .toolbar-left {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 10 1 0;
}

.App .menubar .toolbar-left .style-tools {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 20px;
  flex: 10 1 0;
}

.App .menubar .toolbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.App .menubar .toolbar-right .model {
  cursor: pointer;
  margin: 0 1rem;
  min-width: 150px;
}

.App .menubar .toolbar-right .context {
  cursor: pointer;
  min-width: 90px;
}

.App .menubar .toolbar-right .cancel-button {
  cursor: pointer;
  text-transform: capitalize;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.App .menubar .toolbar-right .cancel-button:disabled {
  cursor: not-allowed;
  text-transform: capitalize;
  margin: 0 1rem;
}

.App .menubar .toolbar-right .status {
  height: 10px;
  border-radius: 50%;
  width: 10px;
  display: inline-block;
  margin: 0 0.6em 0 0.1rem;
}

.App .menubar .toolbar-right .generation-state {
  font-size: 0.8rem;
  padding: 0 2rem 0 0;
  color: rgba(255, 255, 255, 0.457);
  text-transform: capitalize;
}

.App .menubar .toolbar-right .login {
  background-color: orange;
  color: white;
  padding: 0.1rem 1rem;
  font-size: 0.8rem;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

.App .menubar .toolbar-right .login:hover {
  background-color: rgb(255, 165, 0);
}

.App .menubar .toolbar-right .logout {
  cursor: pointer;
  text-transform: capitalize;
}

.App .menubar .toolbar-right .status.ready {
  background-color: rgb(63, 200, 74);
}

.App .menubar .toolbar-right .status.loading {
  background-color: rgb(166, 200, 63);
}

.App .menubar .toolbar-right .status.generating {
  background-color: rgb(200, 63, 63);
}

.App .menubar .toolbar-right .status.no-connection {
  background-color: rgb(200, 63, 63);
}

.App .menubar .toolbar-right .status.error {
  background-color: rgb(200, 63, 63);
}

.App .menubar .item {
  display: flex;
  border: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: var(--toolbar-bg-color);
  width: 55px;
}

.App .menubar .item:hover {
  background-color: var(--hovered-toolbar-bg-color);
}

.drop-down-menu {
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 100;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 0 2px 2px 2px;
  background-color: var(--context-menu-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 4px 0;
  margin: 0;
  overflow-y: hidden;
  height: 0;
  opacity: 0;
}

.drop-down-menu.file {
  left: 4px;
  height: auto;
  opacity: 1;
}

.drop-down-menu.edit {
  left: 55px;
  height: auto;
  opacity: 1;
}

.drop-down-menu.view {
  left: 110px;
  height: auto;
  opacity: 1;
}

.drop-down-menu button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.drop-down-menu button:hover {
  background-color: var(--hovered-toolbar-bg-color);
}
