:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --document-bg-color: #1e1e1e;
  --toolbar-bg-color: #525152;
  --context-menu-bg-color: #1e1d1e;
  --tabs-bg-color: #1e1e1e;
  --active-tab-bg-color: #525152;
  --active-style-button-bg-color: #292929;
  --hovered-button-bg-color: #767676;
  --hovered-tab-bg-color: #444;
  --hovered-toolbar-bg-color: rgb(112, 112, 112);
  --text-color: #fff;
  --border-color: #444;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
