:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --document-bg-color: #1e1e1e;
  --toolbar-bg-color: rgb(158, 153, 153);
  --context-menu-bg-color: rgb(36, 35, 35);
  --tabs-bg-color: rgb(31, 31, 31);
  --active-tab-bg-color: rgb(158, 153, 153);
  --active-style-button-bg-color: rgb(51, 49, 49);
  --hovered-button-bg-color: rgb(106, 103, 103);
  --hovered-tab-bg-color: rgb(106, 103, 103);
  --grid-button-bg-color: rgb(44, 44, 44);
  --hovered-grid-button-bg-color: rgb(218, 218, 218);
  --active-grid-button-bg-color: #524a5d;
  --hovered-toolbar-bg-color: rgb(158, 153, 153);
  --text-color: #fff;
  --link-color: #d2678a;
  --border-color: #444;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
